* {
    font-family: Georgia, Roboto, serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
}

.navbar a {
    text-decoration: none;
    color: darkblue;
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 15px;
    padding: 0 5px;
    background-color: #ffe4c4;
}

.navlist li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.navlist li+li::before {
    color: gray;
    content: "";
}

.navlist a::before,
.navlist a::after {
    content: "";
    position: absolute;
    border-color: #ffe4c4;
    border-style: solid;
    border-width: 10px 5px;
}

.navlist a::before {
    left: -10px;
    border-left-color: transparent;
}

.navlist a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: #ffe4c4;
}

.navlist a:hover {
    background-color: blue;
}

.navlist a:hover::before {
    border-color: blue;
    border-left-color: transparent;
}

.navlist a:hover::after {
    border-left-color: blue;
}


main {
    margin: 70px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid grey;
}

td {
    padding: 5px;
}

th {
    background-color: lightgrey;
}

a {
    color: blue;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

.tags,
.selectors {
    font-style: italic;
    text-align: center;
    background-color: lightblue;
}

.a-tags {
    background-color: beige;
}

.highlight {
    color: red;
    font-style: italic;
}

.table-section {
    border-top: 2px solid black;
}

.attribute-section,
.properties-section,
.values-section {
    border-top: 5px solid black;
}

.v-tags {
    background-color: rgb(251, 189, 106);
}

/* CSS styling */
.box {
    height: 15px;
    width: 15px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    display: inline-block;
}

.j-flex-start {
    display: flex;
    justify-content: flex-start;
    border: none;
}

.j-flex-end {
    display: flex;
    justify-content: flex-end;
    border: none;
}

.j-center {
    display: flex;
    justify-content: center;
    border: none;
}

.j-space-around {
    display: flex;
    justify-content: space-around;
    border: none;
}

.j-space-between {
    display: flex;
    justify-content: space-between;
    border: none;
}

.a-container {
    height: 80px;
    background-color: rgb(196, 203, 193);
    display: flex;
    justify-content: center;
    border: none;
}

.left,
.center,
.right {
    min-height: 20px;
    width: 30px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    display: inline-block;
}

#a-baseline .center {
    height: 30px;
    width: 30px;
    border: 5px solid rgb(224, 64, 192);
}

#a-flexstart {
    align-items: flex-start;
}

#a-flexend {
    align-items: flex-end;
}

#a-center {
    align-items: center;
}

#a-baseline {
    align-items: baseline;
}

.box1 {
    height: 40px;
    width: 40px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    text-align: center;
}

.w-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    width: 120px;
}


#a-wrap {
    flex-wrap: wrap;
    display: flex;
}

#a-nowrap {
    flex-wrap: nowrap;
    display: flex;
}

#a-wrapreverse {
    flex-wrap: wrap-reverse;
    display: flex;
}

.c-container {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100px;
    width: 130px;
    border: none;
}


.c-left,
.c-center,
.c-right {
    min-height: 20px;
    width: 60px;
    margin: 1px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
    box-sizing: border-box;
}

#c-flexstart {
    align-content: flex-start;
}

#c-flexend {
    align-content: flex-end;
}

#c-center {
    align-content: center;
}

#c-spacebetween {
    align-content: space-between;
}

#c-spacearound {
    align-content: space-around;
}